// <div.Compound><div.CModal>
.Compound

  .ignore
    padding: 0 !important

  .CModal
    text-align: center
    padding: 24px 32px

    .title
      margin: 3px 0

    .paragraph
      margin: 3px 0

    .small
      margin-bottom: 12px
      display: block

    .field-box
      margin-bottom: 24px
      display: block

    .field-title-box
      margin-bottom: 12px
      display: block

    .left
      text-align: left

    .right
      text-align: right

    .justify
      width: 100%
      text-align: justify

    h4
      margin-bottom: 0

    p
      margin-bottom: 0

    select
      width: 60%

    input:not([type="radio"])
      width: 100%

#TB_ajaxContent
  padding: 0 !important
  width: 100% !important