<div class="carousel slide {{ animation == 'fade' ? 'slide carousel-fade' : 'slide' }} my-4" id="carousel"
     data-ride="carousel">
    <ol class="carousel-indicators">
        <li v-for="(slide, index) in carousel" :data-slide-to="index" data-target="#carousel"
            :class="index == 0 ? 'active' : ''"></li>
    </ol>
    <div class="carousel-inner" style="height: 400;">

        {# Copy of the slide in the carousel #}
        <div :class="index == 0 ? 'carousel-item active' : 'carousel-item'" v-for="(slide, index) in carousel">
            <div class="carousel-item-content d-flex h-100 align-items-center flex-column justify-content-center"
                 :style="{ backgroundImage: 'url(' + slide.img + ')' }">
                <h1 class="text-white carousel-title font-weight-bold">{ slide.title || 'New slide without title' }</h1>
                <p class="text-white w-50 text-center block-center" v-if="slide.description">{ slide.description }</p>

                <button>Buy</button>
            </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
