{# ... #}

{% macro render(event) %}

    <div class="center padding-24">
        <span class="spinner is-active" style="float: inherit;"></span>
        <h3 class="">{{ event.title|default('Loading') }}</h3>
        <p class="padding-x-0">{{ event.description|default('') }}</p>
    </div>

{% endmacro %}