<div class="breadcrumbs my-4" itemscope itemtype="https://schema.org/BreadcrumbList">
    {% for key, crumb in breadcrumb %}

        {% if breadcrumb|last == crumb %}
            <a> {{ wp.e(crumb[0]) }} </a>
        {% else %}
            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="{{ wp.esc_url(crumb[1]) }}" itemprop="item">
                    <span itemprop="name">{{ wp.e(crumb[0]) }}</span>
                </a>
                <meta itemprop="position" content="{{ key }}" />
            </span>
            <i class="fas fa-chevron-right crumb"></i>
        {% endif %}

    {% endfor %}
</div>