{% import 'Compound/template.twig' as template %}

<div class="wrap">

    <div class="root">

        <h1 class="wp-heading-inline">Blocks</h1>

        <hr class="wp-header-end">

        <div class="wp-mrl-column-1">
            <div class="root-blocks">

                <div class="wp-mrl-box">
                    <h2 class="wp-mrl-header">
                        <span>Editor</span>
                    </h2>

                    <div class="wp-mrl-tools">
                        <span class="dashicons dashicons-plus"></span>
                    </div>

                    <div class="inner">

                        {% if is_template %}

                            {% for template, instance in document.fields %}
                                {% for name, package in instance %}
                                    {{ template.render(template, name, package) }}
                                {% endfor %}
                            {% endfor %}

                        {% endif %}

                    </div>

                    <a href="#">
                        <div class="wp-mrl-add">
                            <span class="dashicons dashicons-plus"></span>
                        </div>
                    </a>

                </div>

            </div>

        </div>

        <div class="wp-mrl-column-2">

            <div class="wp-mrl-box">
                <h2 class="wp-mrl-header">
                    <span>Compound page</span>
                </h2>

                <div class="inner">

                    <h2>Blocks. More blocks</h2>
                    <p>This page has all the magic of editing Rosemary pages.</p>
                    <p>You can change feature options, block options, change block positions, change the contents of elements, etc.</p>

                    <h3>Actions</h3>
                    <ul>
                        <li>
                            <a href="javascript:;" data-action="import_blocks">
                                <i class="dashicons dashicons-admin-customizer"></i> Import
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="export_blocks">
                                <i class="dashicons dashicons-sticky"></i> Export
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_admin_url( null, 'edit-tags.php?taxonomy=category', 'https' );?>">
                                <i class="dashicons dashicons-archive"></i> Market
                            </a>
                        </li>
                    </ul>

                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="https://irtex-web.github.io" target="_blank">
                                <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>