<div class="wrap">

    <div class="root">

        <h1 class="wp-heading-inline">Blocks</h1>

        <a href="javascript:;" class="page-title-action" data-action="create_block">Create block</a>
        <a href="javascript:;" class="page-title-action" data-action="export_blocks">Export</a>
        <a href="javascript:;" class="page-title-action" data-action="import_blocks">Import</a>

        <hr class="wp-header-end">

        <div class="wp-mrl-column-1">
            <div class="root-blocks">

                {% if get_page|length > 0 %}

                    {% for page, body in get_page %}
                        {% include 'Compound/block.twig' %}
                    {% endfor %}

                {% else %}

                    <div class="wrap">
                        <div class="root menu-center">

                            <img src="<?php echo PATH_CREATE_BLOCK_IMG; ?>" alt="" width="256px">
                            <h3>Create a block to start editing the page</h3>
                            <p></p>

                        </div>
                    </div>

                {% endif %}

            </div>

            <div class="add_block_button" data-action="create_block">
                Create new block
            </div>

        </div>

        <div class="wp-mrl-column-2">

            <div class="wp-mrl-box">
                <h2 class="wp-mrl-header">
                    <span>Rosemary page</span>
                </h2>

                <div class="inner">

                    <h2>Blocks. More blocks</h2>
                    <p>This page has all the magic of editing Rosemary pages.</p>
                    <p>You can change feature options, block options, change block positions, change the contents of elements, etc.</p>

                    <h3>Actions</h3>
                    <ul>
                        <li>
                            <a href="javascript:;" data-action="import_blocks">
                                <i class="dashicons dashicons-admin-customizer"></i> Import
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="export_blocks">
                                <i class="dashicons dashicons-sticky"></i> Export
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_admin_url( null, 'edit-tags.php?taxonomy=category', 'https' );?>">
                                <i class="dashicons dashicons-archive"></i> Market
                            </a>
                        </li>
                    </ul>

                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="https://irtex-web.github.io" target="_blank">
                                <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>