{% extends "Compound/layout.twig" %}

{% block header %}

    <h1 class="wp-heading-inline">Pages</h1>
    <a href="javascript:;" class="page-title-action" data-action="create_page">Add New</a>

    <hr class="wp-header-end">

{% endblock %}

{% block main %}

    {% if pages|length > 0 %}
        {% include 'Compound/pages.twig' %}
    {% else %}
        {% include 'Compound/start.twig' %}
    {% endif %}

{% endblock %}

{% block box %}

    <h2 class="wp-mrl-header">
        <span>Compound editor</span>
    </h2>

    <div class="inner">

        <h2>Create new Compound page!</h2>
        <p>Create Compound Page, Convert Them to WordPress pages and use them as regular page of your site.</p>
        <p>Maybe it sounded scary, but working with Compound's pages is very easy.</p>

        <h3>Actions</h3>
        <ul>
            <li>
                <a href="javascript:;" data-action="create_page">
                    <i class="dashicons dashicons-admin-customizer"></i> Create new page
                </a>
            </li>
        </ul>

        <h3>Resources</h3>
        <ul>
            <li>
                <a href="https://irtex-web.github.io" target="_blank">
                    <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                </a>
            </li>
        </ul>

    </div>

{% endblock %}