{% import 'Compound/pages/modal/create_page.twig' as modal %}
{{ modal.render() }}

<div class="wrap">

    <h1 class="wp-heading-inline">Pages</h1>

    <a title="Create a new page" href="#TB_inline?width=600&height=180&inlineId=modal_create_page"
       class="page-title-action thickbox">Add new</a>

    <hr class="wp-header-end">

    <hr class="wp-header-end"/>

    {{ wp.pages_table() }}


</div>
