{% macro import(event) %}
    {% import 'Compound/pages/modal/create_page.twig' as modal %}
    {{ modal.render(event) }}
{% endmacro %}

{% macro header() %}

    <h1 class="wp-heading-inline">Pages</h1>

    <a title="Create a new page" href="#TB_inline?width=600&height=550&inlineId=modal_create_page"
       class="page-title-action thickbox">Add new</a>

    <hr class="wp-header-end">

{% endmacro %}

{% macro main(event) %}
    {{ wp.rosemary_pages_table(event.pages) }}
{% endmacro %}
