{% macro render(name, instance, package) %}
    <div class="wp-mrl-block">

        <div class="wp-mrl-fields">
            {% for id, complex in package %}

                <div class="wp-mrl-field wp-mrl-field-grid-{{ wp.dump(complex.field.instance.getMeta('editor').getData('grid')) }}">
                    {% if complex.package is empty %}
                        <div>

                        </div>
                    {% else %}
                        {% for tag in complex.package %}

                            {# Every component #}
                            <div>
                                {{ wp.dump(tag.getTag) }}
                                {{ wp.dump(tag.getAttributes) }}
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>

            {% endfor %}
        </div>


    </div>
{% endmacro %}