{% extends 'Layout/layout.twig' %}

{% block main %}

    <form action="">

        <button>Welcome</button>
        <button>Lorem ipsum dolor.</button>
        <button type="button" disabled>Click Me!</button>

        <input type="text">
        <input type="text" placeholder="Name">
        <input type="password">
        <input type="password" placeholder="Password">
        <input type="password" disabled data-ignore-behaviour>
        <input type="password" required data-ignore-behaviour>
        <input type="url" data-ignore-behaviour>

        <input type="checkbox">

        <button tyle="submit">submit</button>

    </form>



{% endblock %}