{% extends 'TWIG/Layout/layout.twig' %}

{% block main %}

    <div class="container">
        <hr>
        <br><input width="100%" style="width: 100%" type="button">
        <hr>
        <br><input width="100%" style="width: 100%" type="checkbox">
        <hr>
        <br><input width="100%" style="width: 100%" type="color">
        <hr>
        <br><input width="100%" style="width: 100%" type="date" value="2018-07-22">
        <hr>
        <br><input width="100%" style="width: 100%" type="datetime-local" value="2018-07-22">
        <hr>
        <br><input width="100%" style="width: 100%" type="email">
        <hr>
        <br><input width="100%" style="width: 100%" type="file" accept="image/*" title="&nbsp;">
        <hr>
        <br><input width="100%" style="width: 100%" type="hidden">
        <hr>
        <br><input width="100%" style="width: 100%" type="image"
                   src="https://www.tadviser.ru/images/thumb/8/83/Apple-app-store.jpg/840px-Apple-app-store.jpg">
        <hr>
        <br><input width="100%" style="width: 100%" type="image"
                   src="https://data.tooliphone.net/iskin/themes/14241/15260/preview-256.png" disabled>
        <hr>
        <br><input width="100%" style="width: 100%" type="month">
        <hr>
        <br><input width="100%" style="width: 100%" type="number">
        <hr>
        <br><input width="100%" style="width: 100%" type="password">
        <hr>
        <br><input width="100%" style="width: 100%" type="radio">
        <hr>
        <br><input width="100%" style="width: 100%" type="range">
        <hr>
        <br><input width="100%" style="width: 100%" type="reset">
        <hr>
        <br><input width="100%" style="width: 100%" type="search">
        <hr>
        <br><input width="100%" style="width: 100%" type="submit">
        <hr>
        <br><input width="100%" style="width: 100%" type="tel">
        <hr>
        <br><input width="100%" style="width: 100%" type="text">
        <hr>
        <br><input width="100%" style="width: 100%" type="time">
        <hr>
        <br><input width="100%" style="width: 100%" type="url">
        <hr>
        <br><input width="100%" style="width: 100%" type="week">

        <select name="contact-name" id="contact-name" multiple data-placeholder="Select Name">
            <option value='example1@gmail.com'>Mike Charley</option>
            <option value='example2@gmail.com'>Andy Lurs</option>
            <option value='example3@gmail.com'>Toby Lightman</option>
            <option value='example4@gmail.com'>Lene Marlin</option>
            <option value='example5@gmail.com'>Deep Purple</option>
        </select>

        <select name="contact-name" id="contact-name" data-placeholder="Select Name">
            <option value='example1@gmail.com'>Mike Charley</option>
            <option value='example2@gmail.com'>Andy Lurs</option>
            <option value='example3@gmail.com'>Toby Lightman</option>
            <option value='example4@gmail.com'>Lene Marlin</option>
            <option value='example5@gmail.com'>Deep Purple</option>
        </select>

    </div>

{% endblock %}