<footer class="page-footer font-small blue pt-5 pb-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            {% for i in 1..3 %}

                <div class="col-md-4 mb-md-0 mb-3">

                    <h6 class="footer-header mb-3">Current news:</h6>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="footer-link">
                                — Opening a branch in Washington
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="footer-link">
                                — Black Friday terms and conditions
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="footer-link">
                                — 45 stores in France
                            </a>
                        </li>
                    </ul>

                </div>

            {% endfor %}

        </div>

    </div>

</footer>