{% include 'Compound/Engine/Applications/Compound/modal.html.twig' %}

<div class="postbox __compound_editor_parent">
    <div class="postbox-header">
        <h2 class="hndle ui-sortable-handle">Compound Editor</h2>
    </div>
    <div class="inside margin-0" id="compound__editor__frame">

        <div class="__compound_editor_tools" v-if="document !== false">

            <div class="__compound_editor_tools_tool padding-2" @click="insertTemplate">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="26px" height="26px" class="padding-0 margin-0">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
            </div>

        </div>

        <div class="__compound_editor_document">

            <div class="__compound_message_mute" v-if="document === false">

                <div>
                    <span class="dashicons dashicons-screenoptions"></span>
                </div>

                <p>
                    Let's start with a clean slate! <br>
                    Add the first template to the page to be able to add components to it
                </p>

            </div>

            <div v-else>

                <div v-for="(instance, index) in document">
                    <div v-for="(template, templateName) in instance" class="__compound_editor_template" :data-compound-template="templateName">

                        <div class="__compound_editor_template_header">
                            <div class="__compound_editor_template_header_toolbar">
                                ...
                            </div>
                        </div>

                        <div :data-compound-template="templateName" class="__compound_editor_container">
                            <div v-for="(area, areaName) in template" class="__compound_editor_area" :data-compound-area="areaName">

                                <div v-for="(component, componentName) in area" class="__compound_editor_component display-flex" @mousedown="editComponent" :data-compound-index="index" :data-compound-template="templateName" :data-compound-area="areaName" :data-compound-component="componentName">

                                    <div>
                                        <div class="">
                                            <h4 class="margin-0 display-contents">{__about(component).title}</h4>
                                        </div>

                                        <div>
                                            <p class="margin-0 display-contents">{__about(component).description}</p>
                                        </div>
                                    </div>


                                </div>

                                <div class="__compound_editor_component_append" @mousedown="appendComponent" :data-compound-index="index" :data-compound-template="templateName" :data-compound-area="areaName">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>