<div class="wrap">

    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">

            <div id="post-body-content">

                {# Title #}
                <div id="titlediv">
                    <div id="titlewrap">
                        <label class="screen-reader-text" id="title-prompt-text" for="title">Add title</label>
                        <input type="text" name="post_title" size="30" value="" placeholder="Page Title" id="title" spellcheck="true" autocomplete="off" />
                    </div>
                    <div class="inside">
                        <div id="edit-slug-box" class="hide-if-no-js">
                            <strong>Permalink:</strong>
                            <span id="sample-permalink">
                                <a href="http://192.168.1.130/cpd/">http://192.168.1.130/<span id="editable-post-name">cpd</span>/</a>
                            </span>
                            <span id="edit-slug-buttons"><button type="button" class="edit-slug button button-small hide-if-no-js" aria-label="Edit permalink">Edit</button></span>
                            <span id="editable-post-name-full">cpd</span>
                        </div>
                    </div>
                </div>

            </div>

            <div id="postbox-container-1" class="postbox-container">
                <div id="side-sortables" class="meta-box-sortables ui-sortable fw-force-xs" style="">
                    <div id="submitdiv" class="postbox">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle">Publish</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="true" aria-describedby="submitdiv-handle-order-higher-description">
                                    <span class="screen-reader-text">Move up</span><span class="order-higher-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="submitdiv-handle-order-higher-description">Move Publish box up</span>
                                <button type="button" class="handle-order-lower" aria-disabled="false" aria-describedby="submitdiv-handle-order-lower-description">
                                    <span class="screen-reader-text">Move down</span><span class="order-lower-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="submitdiv-handle-order-lower-description">Move Publish box down</span>
                                <button type="button" class="handlediv" aria-expanded="true"><span class="screen-reader-text">Toggle panel: Publish</span><span class="toggle-indicator" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <div class="inside">
                            <div class="submitbox" id="submitpost">
                                <div id="minor-publishing">
                                    <div style="display: none;">
                                        <p class="submit"><input type="submit" name="save" id="save" class="button" value="Save" /></p>
                                    </div>

                                    <div id="minor-publishing-actions">
                                        <div id="save-action"></div>
                                        <div class="clear"></div>
                                    </div>

                                    <div id="misc-publishing-actions">
                                        <div class="misc-pub-section misc-pub-post-status">
                                            Status: <span id="post-status-display"> Published </span>

                                            <a href="#post_status" class="edit-post-status hide-if-no-js" role="button"><span aria-hidden="true">Edit</span> <span class="screen-reader-text">Edit status</span></a>

                                            <div id="post-status-select" class="hide-if-js">
                                                <input type="hidden" name="hidden_post_status" id="hidden_post_status" value="publish" />
                                                <label for="post_status" class="screen-reader-text">Set status</label>
                                                <select name="post_status" id="post_status">
                                                    <option selected="selected" value="publish">Published</option>
                                                    <option value="pending">Pending Review</option>
                                                    <option value="draft">Draft</option>
                                                </select>
                                                <a href="#post_status" class="save-post-status hide-if-no-js button">OK</a>
                                                <a href="#post_status" class="cancel-post-status hide-if-no-js button-cancel">Cancel</a>
                                            </div>
                                        </div>

                                        <div class="misc-pub-section misc-pub-visibility" id="visibility">
                                            Visibility: <span id="post-visibility-display"> Public </span>

                                            <a href="#visibility" class="edit-visibility hide-if-no-js" role="button"><span aria-hidden="true">Edit</span> <span class="screen-reader-text">Edit visibility</span></a>

                                            <div id="post-visibility-select" class="hide-if-js">
                                                <input type="hidden" name="hidden_post_password" id="hidden-post-password" value="" />

                                                <input type="hidden" name="hidden_post_visibility" id="hidden-post-visibility" value="public" />
                                                <input type="radio" name="visibility" id="visibility-radio-public" value="public" checked="checked" /> <label for="visibility-radio-public" class="selectit">Public</label><br />

                                                <input type="radio" name="visibility" id="visibility-radio-password" value="password" /> <label for="visibility-radio-password" class="selectit">Password protected</label><br />
                                                <span id="password-span"><label for="post_password">Password:</label> <input type="text" name="post_password" id="post_password" value="" maxlength="255" /><br /></span>

                                                <input type="radio" name="visibility" id="visibility-radio-private" value="private" /> <label for="visibility-radio-private" class="selectit">Private</label><br />

                                                <p>
                                                    <a href="#visibility" class="save-post-visibility hide-if-no-js button">OK</a>
                                                    <a href="#visibility" class="cancel-post-visibility hide-if-no-js button-cancel">Cancel</a>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="misc-pub-section misc-pub-revisions">
                                            Revisions: <b>8</b>
                                            <a class="hide-if-no-js" href="http://192.168.1.130/wp-admin/revision.php?revision=1383"><span aria-hidden="true">Browse</span> <span class="screen-reader-text">Browse revisions</span></a>
                                        </div>
                                        <div class="misc-pub-section curtime misc-pub-curtime">
                                            <span id="timestamp"> Published on: <b>Sep 25, 2020 at 16:33</b> </span>
                                            <a href="#edit_timestamp" class="edit-timestamp hide-if-no-js" role="button">
                                                <span aria-hidden="true">Edit</span>
                                                <span class="screen-reader-text">Edit date and time</span>
                                            </a>
                                            <fieldset id="timestampdiv" class="hide-if-js">
                                                <legend class="screen-reader-text">Date and time</legend>
                                                <div class="timestamp-wrap">
                                                    <label>
                                                        <span class="screen-reader-text">Month</span>
                                                        <select id="mm" name="mm">
                                                            <option value="01" data-text="Jan">01-Jan</option>
                                                            <option value="02" data-text="Feb">02-Feb</option>
                                                            <option value="03" data-text="Mar">03-Mar</option>
                                                            <option value="04" data-text="Apr">04-Apr</option>
                                                            <option value="05" data-text="May">05-May</option>
                                                            <option value="06" data-text="Jun">06-Jun</option>
                                                            <option value="07" data-text="Jul">07-Jul</option>
                                                            <option value="08" data-text="Aug">08-Aug</option>
                                                            <option value="09" data-text="Sep" selected="selected">
                                                                09-Sep
                                                            </option>
                                                            <option value="10" data-text="Oct">10-Oct</option>
                                                            <option value="11" data-text="Nov">11-Nov</option>
                                                            <option value="12" data-text="Dec">12-Dec</option>
                                                        </select>
                                                    </label>
                                                    <label><span class="screen-reader-text">Day</span><input type="text" id="jj" name="jj" value="25" size="2" maxlength="2" autocomplete="off" /></label>

                                                    ,
                                                    <label><span class="screen-reader-text">Year</span><input type="text" id="aa" name="aa" value="2020" size="4" maxlength="4" autocomplete="off" /></label>

                                                    at
                                                    <label><span class="screen-reader-text">Hour</span><input type="text" id="hh" name="hh" value="16" size="2" maxlength="2" autocomplete="off" /></label>

                                                    :<label><span class="screen-reader-text">Minute</span><input type="text" id="mn" name="mn" value="33" size="2" maxlength="2" autocomplete="off" /></label>
                                                </div>
                                                <input type="hidden" id="ss" name="ss" value="08" />

                                                <input type="hidden" id="hidden_mm" name="hidden_mm" value="09" />
                                                <input type="hidden" id="cur_mm" name="cur_mm" value="11" />
                                                <input type="hidden" id="hidden_jj" name="hidden_jj" value="25" />
                                                <input type="hidden" id="cur_jj" name="cur_jj" value="23" />
                                                <input type="hidden" id="hidden_aa" name="hidden_aa" value="2020" />
                                                <input type="hidden" id="cur_aa" name="cur_aa" value="2020" />
                                                <input type="hidden" id="hidden_hh" name="hidden_hh" value="16" />
                                                <input type="hidden" id="cur_hh" name="cur_hh" value="11" />
                                                <input type="hidden" id="hidden_mn" name="hidden_mn" value="33" />
                                                <input type="hidden" id="cur_mn" name="cur_mn" value="57" />

                                                <p>
                                                    <a href="#edit_timestamp" class="save-timestamp hide-if-no-js button">OK</a>
                                                    <a href="#edit_timestamp" class="cancel-timestamp hide-if-no-js button-cancel">Cancel</a>
                                                </p>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div id="major-publishing-actions">
                                    <div id="delete-action">
                                        <a class="submitdelete deletion" href="http://192.168.1.130/wp-admin/post.php?post=398&amp;action=trash&amp;_wpnonce=4e5c05e86e">Move to Trash</a>
                                    </div>

                                    <div id="publishing-action">
                                        <span class="spinner"></span>
                                        <input name="original_publish" type="hidden" id="original_publish" value="Update" />
                                        <input type="submit" name="save" id="publish" class="button button-primary button-large" value="Update" />
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pageparentdiv" class="postbox">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle">Page Attributes</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="false" aria-describedby="pageparentdiv-handle-order-higher-description">
                                    <span class="screen-reader-text">Move up</span><span class="order-higher-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="pageparentdiv-handle-order-higher-description">Move Page Attributes box up</span>
                                <button type="button" class="handle-order-lower" aria-disabled="false" aria-describedby="pageparentdiv-handle-order-lower-description">
                                    <span class="screen-reader-text">Move down</span><span class="order-lower-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="pageparentdiv-handle-order-lower-description">Move Page Attributes box down</span>
                                <button type="button" class="handlediv" aria-expanded="true"><span class="screen-reader-text">Toggle panel: Page Attributes</span><span class="toggle-indicator" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <div class="inside">
                            <p class="post-attributes-label-wrapper parent-id-label-wrapper"><label class="post-attributes-label" for="parent_id">Parent</label></p>
                            <select name="parent_id" id="parent_id">
                                <option value="">(no parent)</option>
                            </select>
                            <p class="post-attributes-label-wrapper page-template-label-wrapper"><label class="post-attributes-label" for="page_template">Template</label></p>
                            <select name="page_template" id="page_template">
                                <option value="default">Default template</option>

                                <option value="brizy-blank-template.php">Brizy Template</option>
                                <option value="canvas.php" selected="selected">Mirele Canvas</option>
                                <option value="../public/views/revslider-page-template.php">Slider Revolution Blank Template </option>
                            </select>
                            <p class="post-attributes-label-wrapper menu-order-label-wrapper"><label class="post-attributes-label" for="menu_order">Order</label></p>
                            <input name="menu_order" type="text" size="4" id="menu_order" value="0" />
                            <p class="post-attributes-help-text">Need help? Use the Help tab above the screen title.</p>
                        </div>
                    </div>
                    <div id="postimagediv" class="postbox">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle">Featured image</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="false" aria-describedby="postimagediv-handle-order-higher-description">
                                    <span class="screen-reader-text">Move up</span><span class="order-higher-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="postimagediv-handle-order-higher-description">Move Featured image box up</span>
                                <button type="button" class="handle-order-lower" aria-disabled="false" aria-describedby="postimagediv-handle-order-lower-description">
                                    <span class="screen-reader-text">Move down</span><span class="order-lower-indicator" aria-hidden="true"></span>
                                </button>
                                <span class="hidden" id="postimagediv-handle-order-lower-description">Move Featured image box down</span>
                                <button type="button" class="handlediv" aria-expanded="true"><span class="screen-reader-text">Toggle panel: Featured image</span><span class="toggle-indicator" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <div class="inside">
                            <p class="hide-if-no-js">
                                <a href="http://192.168.1.130/wp-admin/media-upload.php?post_id=398&amp;type=image&amp;TB_iframe=1&amp;width=753&amp;height=893" id="set-post-thumbnail" class="thickbox">Set featured image</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="postbox-container-2" class="postbox-container">
                <div id="normal-sortables" class="meta-box-sortables ui-sortable">

                    <div class="postbox">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle">Compound Editor</h2>
                            <div class="handle-actions hide-if-no-js">
                                <button type="button" class="handle-order-higher" aria-disabled="false">
                                    <span class="screen-reader-text">Move up</span>
                                    <span class="order-higher-indicator" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="handle-order-lower" aria-disabled="false">
                                    <span class="screen-reader-text">Move down</span>
                                    <span class="order-lower-indicator" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="handlediv" aria-expanded="true">
                                    <span class="screen-reader-text">Toggle panel: Compound Editor</span>
                                    <span class="toggle-indicator" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="inside" id="compound__editor">

                            <div class="__compound_message_mute">

                                <div>  <span class="dashicons dashicons-screenoptions"></span>  </div>

                                <p>
                                    Let's start with a clean slate! <br>
                                    Add the first template to the page to be able to add components to it
                                </p>

                            </div>



                        </div>
                    </div>
                </div>
                <div id="advanced-sortables" class="meta-box-sortables ui-sortable empty-container"></div>
            </div>

        </div>
        <br class="clear" />
    </div>
</div>
