{# Modal window for inserting a component on a section #}

{% macro render(event) %}

    {% import 'TWIG/Prototypes/modal/compound_empty.twig' as prototype %}

    {% macro data(event) %}

        <div class="padding-8">

            <form action="" method="post" id="">

                <div class="left">
                    <div class="margin-buttom-4">
                        <label for="name" class="margin-buttom-2 display-block">Name</label>
                        <input type="text" name="name" placeholder="Name of page">
                    </div>

                    <div class="margin-buttom-4">
                        <input type="hidden" name="method" value="Compound-createPage">
                        <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
                        <input type="submit" name="save" id="save-post" class="button button-primary" value="Continue">
                    </div>
                </div>

            </form>

        </div>

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_create_page',
        data: _self.data(event),
    }) }}

{% endmacro %}