{% extends 'Compound/Engine/Applications/Public/layout.html.twig' %}

{% block main %}

    <section class="d-flex justify-content-center align-items-center h-3/4">
        <div>
            <h1 class="text-404">404</h1>
            <p>Page not found</p>
        </div>
    </section>

{% endblock %}