{# Modal window for page creation in Compound page editor #}

{% macro render(event) %}

    <div id="modal_create_page" style="display:none;">
        <div class="Compound">

            {# Modal content #}
            <div class="CModal">

                <form action="" method="post">

                    <img src='{{ source|default(event.source) }}/img/icons/compound.png' width="200px">

                    <h4>Choose a page template & enter page title</h4>
                    <p>Choose one of the available page templates</p>

                    <div>
                        <small>Select template</small>
                        <select name="template" id="select-template">

                            {% for template in event.templates %}
                                {% if template.getId %}
                                    <option value="{{ template.getId }}">{{ template.getMeta('name')|default(template.getId) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <small>Enter title</small>
                        <input name="name" id="input-name" type="text" placeholder="Title of page">
                    </div>

                    <div>
                        <input type="hidden" name="method" value="Compound-createPage">
                        <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
                        <button type="submit" class="button button-primary button-large">Create and continue</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endmacro %}