.container-form
  background: white
  padding: 70px 50px
  min-height: 520px
  min-width: 260px
  width: 440px
  height: 530px

  .offer
    h1
      font-family: $UIFontSourceSansPro
      font-weight: 300

