// <nav>
.navbar-light
  background: #202020
  border-bottom: 1px solid #F4F4F4
  color: #F0F0F0
  padding: 0

  div
    .navbar-brand
      color: #F0F0F0
      font-weight: bold
      font-size: $UIFontSize

      a
        font-size: $UIFontSize

    .navbar-nav
      .nav-link
        color: #F0F0F0

        &:hover
          color: #F0F0F0

        &.disabled
          color: #F0F0F0

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active
        color: #F0F0F0

    .navbar-toggler
      color: #F0F0F0
      border-color: white

    .navbar-text
      color: #F0F0F0

      a
        color: #F0F0F0

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px)
  .navbar-light
    padding: 4px

  .nav-item
    padding: 4px 16px

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
  .navbar-light
    padding: 4px

  .nav-item
    padding: 7px

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
  .navbar-light
    padding: 4px

  .nav-item
    padding: 7px

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
  .navbar-light
    padding: 2px

  .nav-item
    padding: 0

// Extra large devices (large desktops, 1200 and up)
@media (min-width: 1200px)
  .navbar-light
    padding: 0

  .nav-item
    padding: 0