select
  background: $UIColorWhite
  border: 1px solid #e1e1e1
  color: $UIColorDark
  font: $UIFontRegular
  font-size: $UIFontSize
  font-weight: normal
  outline: none
  border-radius: $UIBorderRadiusRegular
  min-width: 42px
  padding: 6px 28px 6px 12px

  -webkit-appearance: none
  -moz-appearance: none
  text-overflow: ''

  background-image: $UIResourceDown
  background-position: calc(100% - 13px) 55%
  background-size: 11px
  background-repeat: no-repeat

  @media (max-width: 576px)
    &[multiple]
      background-image: none
      padding: 12px
      box-shadow: none

  @media (min-width: 576px)
    &[multiple]
      background-image: none
      padding: 12px
      box-shadow: none

  @media (min-width: 768px)
    &[multiple]
      background-image: none
      padding: 12px
      box-shadow: inset 0 -5px 10px -2px #efefef

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
    background: #E8F0FE

  &:focus,
  &:active
    outline: none

  &:disabled,
  &[disabled]
    color: #A0A0A0

  &:disabled:hover,
  &[disabled]:hover
    border: $UIBorder $mainBorderColor
    cursor: not-allowed

