{# Password recovery page #}

<div class="container-fluid py-sm-5 my-sm-5 my-5 p-xs-0">
    <div class="row py-sm-5 my-sm-5 m-xs-0 p-xs-0">
        <div class="col-md-6">
            <div class="mb-4">
                <h2>{{ content.title }}</h2>
                <p> {{ content.description }} </p>
            </div>
            <form role="form" id="recoveryForm" @submit.prevent="submit">
                <div class="mb-4">

                    <div class="form-group mb-3" v-if="step == 1">
                        <input type="text" class="form-control" id="login" name="login" placeholder="Your Login"
                               v-model="login"/>
                    </div>

                    <div class="form-group mb-3" v-if="step == 1">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                               v-model="email"/>
                    </div>

                    <div class="form-group mb-3" v-if="step == 2">
                        <input type="text" class="form-control" id="key" name="key" placeholder="Your Validation Key "
                               v-model="key"/>
                    </div>

                    <div class="form-group mb-3" v-if="step == 3">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Your New Password" v-model="password"/>
                    </div>

                    <div class="form-group mb-3" v-if="step == 3">
                        <input type="password" class="form-control" id="repeat_password" name="repeat_password"
                               placeholder="Your New Password (repeat)" v-model="repeat_password"/>
                    </div>

                    <div v-if="message.text != false" v-html="message.text">
                    </div>

                </div>
                <div>
                    <button type="submit" v-if="step != 4">Continue</button>
                    <a href="javascript:void(0);" class="ml-3" v-if="step > 1 && step != 4" @click="back">Back</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="{{ source }}/img/forms/forgot-gray.jpg" width="100%"/>
        </div>
    </div>
</div>