<div class="container-fluid" style="margin: {{ props.margin }};">
    <div class="row">
        {% for class, components in template.fields %}

            <div class="col-1">
                {{ Field(class, {
                    template: this,
                    components: call.components,
                    attr: {}
                }) }}
            </div>

        {% endfor %}
    </div>
</div>
