{# Downloads Block #}

<div class="blocks px-2 mb-3">
    <div class="container p-1">
        <div class="row blocks downloads">
            <div class="col-md-12">
                {% if account.downloads|length > 0 %}
                    {{ Component('default_downloads_table', []) }}
                {% else %}
                    {{ Component('default_downloads_placeholder', []) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>