<script lang="js" include>

</script>

<section id="section01" class="demo">

    <div>
       <span>

            <c-area id="area">
                <default_abstract_button devel="{{ 1+2 }}"  value="Val" id="888"/>
                <default_abstract_button devel="{{ 1+2 }}"></default_abstract_button>
                <default_abstract_button devel="{{ 1+2 }}"/>
            </c-area>

            <c-area id="hello">
                <default_abstract_button devel="{{ 1+2 }}"  value="Val" id="8884"/>
                <default_abstract_button devel="{{ 1+2 }}"  value="Val" id="88899"/>
                <default_abstract_button devel="{{ 1+2 }}"></default_abstract_button>
                <default_abstract_button devel="{{ 1+2 }}"/>
            </c-area>

       </span>
    </div>

</section>
