{% macro render(event) %}

    <div class="plugin-card plugin-card-classic-editor">
        <div class="plugin-card-top">
            <div class="name column-name">
                <h3>
                    <a>
                        {{ event.name|default('No name') }}
                        <img src="https://ps.w.org/classic-editor/assets/icon-256x256.png?rev=1998671" class="plugin-icon" alt="{{ event.name|default('No name') }}" />
                    </a>
                </h3>
            </div>
            <div class="action-links">
                <ul class="plugin-action-buttons">
                    <li>
                        <button type="button" class="button button-primary">Open</button>
                    </li>
                    <li>

                    </li>
                </ul>
            </div>
            <div class="desc column-description">
                <p>
                    {{ event.description|default('No description') }}
                </p>
                <p class="authors">
                    <cite>By
                        <a href="javascript:void(0);">
                            {{ event.author|default('No author') }}
                        </a>
                    </cite>
                </p>
            </div>
        </div>
        <div class="plugin-card-bottom">
            <div class="column-updated">
                <strong>Last Used:</strong>
                Nothing
            </div>
        </div>
    </div>


{% endmacro %}