/**
 * 1) What is Sass?
 *  Sass is a CSS-based metalanguage designed to increase CSS abstraction and simplify
 *  cascading style sheet files.
 *
 * 2) What should I edit to make changes?
 *  You should only edit sass, scss, less files.
 *  Changes in css files will cause them to be overwritten.
 *  You should also remember to compile the SASS files.
 *
 *
 * ███╗░░░███╗██╗██████╗░███████╗██╗░░░░░███████╗        ██╗░░░██╗██╗
 * ████╗░████║██║██╔══██╗██╔════╝██║░░░░░██╔════╝        ██║░░░██║██║
 * ██╔████╔██║██║██████╔╝█████╗░░██║░░░░░█████╗░░        ██║░░░██║██║
 * ██║╚██╔╝██║██║██╔══██╗██╔══╝░░██║░░░░░██╔══╝░░        ██║░░░██║██║
 * ██║░╚═╝░██║██║██║░░██║███████╗███████╗███████╗        ╚██████╔╝██║
 * ╚═╝░░░░░╚═╝╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚══════╝        ░╚═════╝░╚═╝
 *
 * @version 1.0.0
 * @package Mirele UI
 * @author Mirele
 * @see https://sass-lang.com
 * @main style.sass
 */

$mainFont: Noto Sans, Roboto Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$mainHoverBorderColor: #80b1e0
$mainBorderColor: rgba(70, 77, 106, .1)
$mainTransition: 1s
$mainFontSize: inherit

$UIErrorBorderColor: #EA4F4B
$UIErrorBackground: #FAE9EC

$UISuccessBorderColor: #9FD36A
$UISuccessBackground: #F5FBEE

$UIFrozeComponentColor: #9a9a9a
$UIFrozeComponentFilter: grayscale(1)

$UIBackground: rgba(242, 242, 242, 1)
$UIBorder: solid 1.4px
$UIColor: #131313
$UIPadding: 6px 12px
$UIPaddingX: 12px
$UIPaddingY: 6px
$UIFont: $mainFont
$UIFontSize: 13px
$UITransition: all 0.1s 0s ease-in-out

// Html
html,
body
  font: $mainFont
  font-size: 14px
  scrollbar-face-color: rgba(193, 193, 193, .8)
  scrollbar-track-color: #00000005

// Imports
@import components/navbar
@import components/button
@import components/link
@import components/input
@import components/scrollbar
@import components/checkbox
@import components/radio
@import components/select