/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 128 version
*/

.woo-product-card-theme-gray {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 1)), to(#f9f9f9));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, #f9f9f9 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0, #f9f9f9 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, #f9f9f9 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, #f9f9f9 100%);
    border: solid 1px rgba(128, 128, 128, .25);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 18px!important
}

.woo-product>.woo-product-cart:hover {
    border: solid 1px rgba(154, 187, 231, 1)!important
}

.woo-product>.woo-product-cart {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: solid 1px rgba(128, 128, 128, .25);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 12px
}

.woo-product>.woo-product-cart>.button-box {
    height: 62px;
    max-height: 62px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.woo-product>.woo-product-cart>a.woocommerce-loop-product__link {
    height: 300px;
    display: block
}

.woo-product>.woo-product-cart>a {
    text-decoration: none
}

.woo-product>.woo-product-cart>a>.woocommerce-loop-product__title {
    overflow: hidden;
    width: 100%;
    font-size: 1.4em;
    word-break: break-word;
    color: #323232;
    max-height: 42px;
    display: block
}

.woo-product>.woo-product-cart>a>img {
    height: 180px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    min-height: 180px
}

.woo-modern-picture {
    width: 100%!important;
    height: 100%!important;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: solid 1px rgba(128, 128, 128, .25)
}

.woo-modern-picture-background {
    width: 100%;
    height: 180px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center
}

.onsale {
    position: absolute;
    z-index: 9;
    background: #5d9deba3;
    padding: 6px 18px;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    border: solid 1px rgba(128, 128, 128, .25);
    text-transform: uppercase;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

a.button {
    display: inline-block;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    color: #fff;
    text-decoration: none!important;
}

a.button[data-quantity] {
    background: rgba(242, 242, 242, 1);
    border: solid 1px rgba(70, 77, 106, .1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 6px 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #323232;
    width: 100%;
}

.woo-product>.woo-product-cart:hover {
    border: solid 1px rgba(154, 187, 231, 1)!important;
}

a.button[data-quantity]:hover {
    color: #323232;
    border: solid 1px rgba(154, 187, 231, 1)!important;
}

ul.product_list_widget li {
    padding: 0 0;
    margin: 0;
    list-style: none;
    background: #f9f9f9;
    margin: 0 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    place-content: flex-start;
    border: 1px solid #dbdbdb;
}

ul.product_list_widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none outside;
    padding: 0;
    margin: 0;
}

ul.product_list_widget>li>a>img {
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 80px;
}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}