<script lang="js" include>

</script>

<style include>

</style>

<section class="container">

    <div class="row">

        {% for i in 1..6 %}

            <div class="col-2">

                <c-area id="col-{{ i }}" editor-col="2">
                    <text value="Hello" id="{{ i }}"/>
                </c-area>

            </div>

        {% endfor %}


    </div>

</section>
