<table class="wp-list-table widefat fixed striped posts">
    <thead>
    <tr>
        <th>ID</th>
        <th>Created At</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>

    {% for i in tickets %}

    <tr>
        <th> <b> {{i.objectId|default('Unknown')}} </b> </th>
        <th> {{i.properties.subject.timestamp / 1000}} </th>
        <th> {{i.properties.subject.value|default('Unknown') }} </th>
        <th> {{i.properties.content.value|default('Unknown') }}</th>
    </tr>

    {% endfor %}

    </tbody>
</table>