{# TODO: Need test #}

<div class="container my-4 mx-0 px-0">
    <div class="row">
        <div class="col-md-12">

            <div class="center-block text-center woocommerce-block-placeholder py-5">
                <img class="mb-4 center-block" width="64px" src="{{ source }}/img/icons/cart.png" alt="You cart is empty">
                <h5 class="mb-2 center-block">You cart is empty!</h5>
                <p class="mb-2 center-block">Let`s go back to the store and start shopping?</p>
            </div>

        </div>
    </div>
</div>
