<div class="text-center woocommerce-block-placeholder py-5">
    <img class="mb-4" width="64px" src="{{ source }}/img/icons/order.png" alt="Your order list is empty.">
    <h5 class="mb-2">You orders list is empty.</h5>
    <p class="mb-2">Let`s go back to the store and start shopping?</p>
</div>