<div class="row">
    <div class="col-md-12">
        <div class="row woocommerce-product-gallery">

            {% if show_gallery == true %}
                <div class="col-md-3 col-12 order-last order-md-first">
                    <img v-for="image in {{ gallery is empty ? 'gallery' : gallery|slice(0, 3)|json_encode }}" class="gallery-photo mb-4 col-4 col-md-12 d-md-block" v-bind:src="image" alt="" width="100%" @click="show(image)">
                </div>
            {% endif %}

            <div class="col-md-{{ show_gallery == true ? '9' : '12' }} col-12 order-first order-md-last">
                <img v-bind:src="{{ image is empty ? "image" : "'#{image}'" }}" class="single-photo" alt="{{ name }}" width="100%">
            </div>
        </div>
    </div>
</div>