<div class="wrap">

    <h1 class="wp-heading-inline">Pages</h1>
    <a href="javascript:;" class="page-title-action" data-action="create_page">Add New</a>

    <hr class="wp-header-end">

    <div class="root">

        <div class="wp-mrl-column-1">

            {% if markup|length > 0 %}
                {% include 'editor/pages.twig' %}
            {% else %}
                {% include 'editor/start.twig' %}
            {% endif %}

        </div>

        <div class="wp-mrl-column-2">

            <div class="wp-mrl-box">
                <h2 class="wp-mrl-header">
                    <span>Rosemary pages</span>
                </h2>

                <div class="inner">

                    <h2>Create new Rosemary page!</h2>
                    <p>Create Mirele Pages, Convert Them to WordPress pages and use them as regular page of your site.</p>
                    <p>Maybe it sounded scary, but working with Rosemary's pages is very easy.</p>

                    <h3>Actions</h3>
                    <ul>
                        <li>
                            <a href="javascript:;" data-action="create_page">
                                <i class="dashicons dashicons-admin-customizer"></i> Create new page
                            </a>
                        </li>
                    </ul>

                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="https://irtex-web.github.io" target="_blank">
                                <i aria-hidden="true" class="dashicons dashicons-external"></i> Documentation
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>