<div class="wp-mrl-box">
    <h2 class="wp-mrl-header">
        <span>Welcome</span>
    </h2>

    <div class="inner">

        <div class="inner-center-box-margin">
            <div class="inner-center-box">
                <h1>Welcome to Rosemary Block Editor!</h1>
                <p>New page editor, new features in template customization. Let's get acquainted!</p>

                <img src='{{source}}/img/forms/lerning.jpg' class="welcome-image">

                <div class="align-left card-welcome-box">

                    <h1 class="title">First start</h1>
                    <p class="description-box">Congratulations, you have successfully installed Mirele and have already begun to familiarize yourself with the interface! Your steps to success. You are now in the Rosemary Block Editing Page. With it, you will create almost all landing pages on your site.</p>

                </div>

                <div class="align-left card-welcome-box">

                    <h1 class="title">First page</h1>
                    <p class="description-box">To create your first Rosemary page, you can click <a href="javascript:;" data-action="create_page">on me</a>, or find the control panel at the top and find the "Add New" button</p>

                </div>

                <div class="align-left card-welcome-box">

                    <h1 class="title">First block</h1>
                    <p class="description-box">Each page consists of several blocks. Their number is unlimited, you can create 100 blocks and not worry about the speed of the site. Each block is a ready-made element for your page, which you can change as you wish. To create a block, create a page, switch to its editing mode, find the "Create block" button on the toolbar and click on it. A "block collection" will open for you. In the collection, select the block you need and click on the button to add a block to the page. For more information on the block collection, see the
                        <a href="https://irtex-web.github.io">documentation</a> .</p>

                </div>

            </div>
        </div>

    </div>

</div>
