<div class="container" style="margin: {{ props.margin }};">
    <div class="row">
        {% for class, components in template.fields %}

            <div class="col-{{ (12 / template.fields|length)|number_format }}">
                {{ Field(class, {
                    template: this,
                    components: call.components,
                    attr: {}
                }) }}
            </div>

        {% endfor %}

    </div>
</div>