{# Modal window for inserting a component on a section #}

{% macro render(event) %}

    {% import 'Prototypes/modal/compound_empty.twig' as prototype %}

    {% macro data(event) %}

        {% import 'Compound/editor/message/editor_empty_props.twig' as editor_empty_props %}

        <div class="padding-8">

            <form action="" method="post" id="modal_edit_props_form" @submit.prevent="submit"
                  v-if="Object.keys(fields).length > 0">

                <div id="component-meta" class="left" v-if="meta">
                    <h3 class="title" v-if="meta.title">{meta.title}</h3>
                    <p class="paragraph" v-if="meta.description">{meta.description}</p>
                </div>

                <div id="component-body">
                    <div class="field-box" v-for="field in fields">
                        <div class="field-title-box left">
                            <h4 class="title">{field.name}</h4>
                            <small class="small">Lorem ipsum dolor sit.</small>
                        </div>

                        <div>
                            <input type="text" :value="field.value" :name="field.name"
                                   v-model="props[field.name]">
                        </div>
                    </div>
                </div>

                <div v-if="fields.length||[] > 0">
                    <button type="submit" class="button button-primary button-large" value="update"
                            name="submit" @click="type='update'">Save and update
                    </button>
                    <button type="submit" class="button button-large" value="remove" name="submit"
                            @click="type='remove'">Remove
                    </button>
                </div>

            </form>

            <div v-else>
                {{ editor_empty_props.render() }}
            </div>

        </div>

    {% endmacro %}

    {{ prototype.render({
        id: 'modal_edit_props',
        data: _self.data(event),
    }) }}

{% endmacro %}