{# Modal window for inserting a template on a page #}

{% macro render(event) %}

    <div id="modal_insert_template" style="display:none;">
        <div class="Compound">

            {# Modal content #}
            <div class="CModal">

                <form action="" method="post">


                    {% for template in event.templates %}
                        {% if template.getId %}
                            <button type="submit" value="{{ template.getId }}" name="template">
                                <img src="http://placehold.it/200x200" alt="">
                                {{ template.getId }}
                            </button>

                        {% endif %}
                    {% endfor %}

                    <div>
                        <input type="hidden" name="method" value="Compound-insertTemplate">
                        <input type="hidden" name="nonce" value="{{ wp.nonce() }}">
                        <input type="hidden" name="page" value="{{ event.id }}">
                        <button type="submit" class="button button-primary button-large">Create and continue</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endmacro %}