{% macro render(thead=[], tbody=[]) %}
    <table class="wp-list-table widefat fixed" cellspacing="0">
        <thead>
        <tr>
            <th class="manage-column column-cb" scope="col">
                <label class="screen-reader-text" for="cb-select-all-1">Select All</label>
                <input id="cb-select-all-1" type="checkbox">
            </th>

            {% for item in thead %}
                <th id="columnname" class="manage-column column-title column-primary sortable desc" scope="col">
                    {{ item }}
                </th>
            {% endfor %}

        </tr>
        </thead>

        <tbody id="the-list">

        {% for tr in tbody %}
            <tr class="iedit author-self level-0 post-1 type-post status-publish format-standard hentry category-uncategorized"
                valign="top">

                <th class="check-column" scope="row">
                    <input type="checkbox" name="checked_item[]" id="" value=""/>
                </th>

                {% for td in tr %}
                    <td class="column-columnname">
                        {{ td|default('Not found') }}

                        <div class="row-actions">
                            <span><a href="#">Action</a> |</span>
                            <span><a href="#">Action</a></span>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>

    </table>
{% endmacro %}
